REACT_APP_PROXY_HOST= "http://localhost:5000/"

# 
# email js

REACT_APP_SERVICE_ID="service_wqg0bfw"
REACT_APP_TEMPLATE_ID="template_to1zu0l"
REACT_APP_PUBLIC_KEY="u07erx-XDHp2oeicu"

# email account (email js):aladinbahri4@gmail.com
#account ala reel password :alaa2307.1993

