@import url("./preset.less");

.hero-button {
  background-color: @main-elements;
  border-radius: 2px;
  color: @bg-main;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  font: @font-weight-500  1rem @Aboreto;
  text-transform: uppercase;
  &:hover, &:focus, &:active{
   transform: scale(1.1);
   font-weight: @font-weight-600;
  }
}
