@import url("./preset.less");

.projects-container{
    display: flex;
    width: 85%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    scroll-margin: 5rem;
    
    header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        h1{
            font-family: @Aboreto;
            font-weight: 400;
            font-size: 2.5rem;
        }
        button{
            outline: none;
            border: none;
            background-color: transparent;
            color: @main-elements;
            font-family: @Aboreto;
            font-weight: 400;
            font-size: 1rem;
            letter-spacing: 0.03em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap:.5rem;
            &:hover{
                
                font-weight: 600;
                .step-cercle-container{
                   border: 3px solid @border-main;
                    .icon-container {
              
                       font-weight: 600;
                    }
                }
                
            }
            
            .step-cercle-container{
                width: 2rem;
                height: 2rem;
                .icon-container {
              
                    font-size: 1rem;
                    transform: rotate(-125deg);
                }
                
               
            }
            
        }
    }

    .projects-content{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        
    }
}


@media (max-width: 600px) {
   .projects-container{
    .projects-content{
        flex-direction: column;

    }
   }
  }