@import url("./preset.less");

.project-figure-container{
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 70%;
        height: 100%;
    }
}