@import url("./preset.less");

.services-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(31, 1fr);
//   row-gap: 2rem;
  padding: 1rem;

  .ux {
    grid-row: 1/8;
    grid-column: 6/12;
    &::after{
        content: '';
        background-color: @main-elements;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        position: absolute;
        right: -1.25rem;
        top:1.25rem;

    }
  }
  .ui {
    grid-row: 9/16;
    grid-column: 6/12;
    &::before{
        content: '';
        background-color: @main-elements;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        position: absolute;
        left: -1.25rem;
        top:1.25rem;
    }
  }
  .graphic {
    grid-row: 17/24;
    grid-column: 6/12;
    &::after{
        content: '';
        background-color: @main-elements;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        position: absolute;
        right: -1.25rem;
        top:1.25rem;

    }
  }
  .photography {
    grid-row: 25/32;
    grid-column: 6/12;
    &::before{
        content: '';
        background-color: @main-elements;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        position: absolute;
        left: -1.25rem;
        top:1.25rem;
    }
  }

.first-design{
    grid-column: 12/14;
    grid-row:2/7;
    // background-color: aqua;
    width: 100%;
    height: 100%;
    // clip-path: polygon( 702.688% 2.628%,702.688% 2.628%,729.783% 17.515%,757.724% 36.05%,784.415% 58.261%,807.76% 84.182%,825.663% 113.841%,836.027% 147.27%,836.757% 184.5%,825.756% 225.561%,800.929% 270.484%,760.177% 319.3%,760.177% 319.3%,688.29% 383.127%,600.033% 446.048%,501.223% 505.617%,397.676% 559.392%,295.208% 604.929%,199.636% 639.782%,116.775% 661.509%,52.443% 667.665%,12.455% 655.807%,2.627% 623.489%,2.627% 623.489%,30.616% 612.509%,94.105% 656.906%,183.948% 742.6%,290.998% 855.508%,406.111% 981.552%,520.14% 1106.649%,623.94% 1216.719%,708.365% 1297.682%,764.269% 1335.457%,782.506% 1315.962%,782.506% 1315.962%,750.037% 1282.601%,669.926% 1283.938%,557.181% 1313.633%,426.812% 1365.347%,293.826% 1432.743%,173.232% 1509.482%,80.039% 1589.224%,29.255% 1665.631%,35.89% 1732.365%,114.952% 1783.086% );

}

    .second-design{
    grid-row: 7/10;
    grid-column: 6/12;
    background-color: @main-elements;
    clip-path: polygon(0 98%, 100% 0%, 100% 2%, 0% 100%);
}

.third-design{
    // background-color: aqua;
    grid-column: 5/6;
    grid-row: 9/11;
    align-self: center;
    height: 50%;
}
.fourth-design{
    grid-row:16/18 ;
    grid-column:10/12 ;
    background-color: @main-elements;
    clip-path: polygon(0 0, 4% 0, 100% 96%, 100% 100%);
    z-index: 0;
}



}
