@import url("./preset.less");

.step-cercle-container{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: @bg-dark-transparency;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: @Aboreto;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.07em;
    border: 1px solid @border-main;
}