@import url("./preset.less");


.testimonials-container{
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:0.5rem;
        h1{
            font-family: @Aboreto;
            font-size: 5rem;
            text-align: center;
            font-weight: @font-weight-400;
            line-height: 1;
        }
        h3{
            font-family: @Aboreto;
            font-size: 2rem;
            text-align: center;
            font-weight: @font-weight-400; 
            line-height: 1;
        }
    }

    .testimonial-content{
        width: 75%;

        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 2rem;
    }
    
}


@media (max-width: 800px) {
   .testimonials-container{
    .testimonial-content{
        flex-direction: column
    }
   }
   }