@import url("./preset.less");

.Tools-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;

    h1{
        width: 100%;
        text-align: start;
        font-family: @Aboreto;
        font-weight: 400;
        font-size: 2rem;

    }

    .tools-content{
        width: 60%;
        display: flex;
        justify-content:center;
        align-items: center;
        gap:4rem;

        figure{
            width: 7rem;
            height:7rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: @main-elements;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4) inset;

            img{
                width: 70%;
                height: 70%;
            };
        }
    }
}