@import url("./preset.less");

.ui-component-container {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:8rem;

  .image-final{
    width: 118%;
  }
}
